### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [92]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",4
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,2
2,2,Ithergue48,24,Male,92,Final Critic,5
3,3,Chamassasya86,24,Male,100,Blindscythe,3
4,4,Iskosia90,23,Male,131,Fury,1

## Player Count

* Display the total number of players

In [13]:
total_players_df = pd.DataFrame({"Total Players" : purchase_data["SN"].nunique()}, index = [0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
summary_df = pd.DataFrame({'Number of Unique Items': len(purchase_data["Item ID"].unique()), 
                           'Average Price': '${:.2f}'.format(purchase_data["Price"].mean()), 
                           'Number of Purchases': len(purchase_data["Price"]), 
                           "Total Revenue" : "${0:.2f}".format(purchase_data["Price"].sum())
                          }
                          , index=[0]
                         )
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
genderPurchases_df = pd.DataFrame({'Total Count': purchase_data.groupby("Gender")["SN"].nunique()})
genderPurchases_df["Percentage of Players (%)"] = (genderPurchases_df["Total Count"]/purchase_data["SN"].nunique()*100).map("{0:,.2f}%".format)
genderPurchases_df

                       Total Count Percentage of Players (%)
Gender
Female                          81                    14.06%
Male                           484                    84.03%
Other / Non-Disclosed           11                     1.91%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] #Bin#
binLables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #label

purchase_data_uniqueplayers = purchase_data.drop_duplicates(subset='SN')
purchase_data_uniqueplayers

ageGrouping = pd.cut(purchase_data_uniqueplayers["Age"], bins, labels = binLables) # assigns bin value to each age,
ageGrouping.value_counts() # counts bin values to get total value # this is to check output
age_groups = pd.DataFrame({"Total Count" : ageGrouping.value_counts()}) # counts bin value totals puts into dataframe under column "Total Count", 
age_groups["Percentage of Players"] = (age_groups["Total Count"]/ageGrouping.count()*100).map("{0:,.2f}%".format) # caluclates age Total Count/total number of bins assigned *100, formattted for %
age_groups.sort_index(ascending=True) #sorts index in ascending order

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] #Bin#
binLables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #label

purchase_data_ageBins = purchase_data # make new dataframe equal to purchase data
purchase_data_ageBins["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels = binLables) # assigns bin value to each age, added to row in new dataframe

purchase_data_ageSummary = pd.DataFrame({"Purchase Count" : purchase_data_ageBins["Age Groups"].value_counts()}) # assigns 
purchase_data_ageSummary["Average Purchase Price"] = (purchase_data_ageBins.groupby("Age Groups")["Price"].mean()) #groups by age and averages price per age group
purchase_data_ageSummary["Total Purchase Value"] = (purchase_data_ageBins.groupby("Age Groups")["Price"].sum()) #groups by age and sums all purchase prices by age group
purchase_data_ageSummary["Avg Total Purchase per Person Purchase"] = (purchase_data_ageSummary["Total Purchase Value"]/purchase_data_ageBins.groupby("Age Groups")["SN"].nunique()) #divides total purcahse value values by number of unique users "SN" as grouped by age group

pd.options.display.float_format = '${:,.2f}'.format # formats all floats to currency format

purchase_data_ageSummary.sort_index(ascending=True) #sorts index in ascending order and displays

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person Purchase
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [198]:
topSpenders_df = pd.DataFrame(
    {
        "Purchse Count" :
        purchase_data.groupby("SN")["Purchase ID"].count(),
        
        "Average Purchase Price" :
        purchase_data.groupby("SN")["Price"].sum()/purchase_data.groupby("SN")["Purchase ID"].count(),
        
        "Total Purchase Value" : 
        purchase_data.groupby("SN")["Price"].sum()
    }
)

topSpenders_df = topSpenders_df.sort_values(by="Total Purchase Value", ascending=False) #sort by Total Purchase Value in decending order 
topSpenders_df.head() #show only top 5 rows with .head()

             Purchse Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                5                       4                    19
Idastidru52              4                       4                    15
Chamjask73               3                       5                    14
Iral74                   4                       3                    14
Iskadarya95              3                       4                    13

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [225]:
pd.options.display.float_format = '{:,.0f}'.format #format float vales to integers


#ID_Prices_df = purchase_data[["Item ID", "Price"]]

mostPopularItems_df = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Item Name"].count())
#mostPopularItems_df = ["1,2,3,4,5"]
mostPopularItems_df["Price"] = purchase_data.groupby(["Item ID", "Item Name", "Price"])["Price"]
#mostPopularItems_df["Total Purchase Value"] = (purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum()).map("${0:,.2f}".format)

#formatting
#mostPopularItems_df = mostPopularItems_df.rename(columns={"Item Name": "Purchase Count"})
#mostPopularItems_df = mostPopularItems_df.sort_values(by="Purchase Count", ascending=False)

#show
mostPopularItems_df

,,Item Name,Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,"((0, Splinter, 1.28), [1.28, 1.28, 1.28, 1.28])",$5.12
1,Crucifer,3,"((1, Crucifer, 3.26), [3.26, 3.26, 3.26])",$9.78
2,Verdict,6,"((2, Verdict, 2.48), [2.48, 2.48, 2.48, 2.48, ...",$14.88
3,Phantomlight,6,"((3, Phantomlight, 2.49), [2.49, 2.49, 2.49, 2...",$14.94
4,Bloodlord's Fetish,5,"((4, Bloodlord's Fetish, 1.7), [1.7, 1.7, 1.7,...",$8.50
5,Putrid Fan,4,"((5, Putrid Fan, 4.08), [4.08, 4.08, 4.08, 4.08])",$16.32
6,Rusty Skull,2,"((6, Rusty Skull, 3.7), [3.7, 3.7])",$7.40
7,"Thorn, Satchel of Dark Souls",7,"((7, Thorn, Satchel of Dark Souls, 1.33), [1.3...",$9.31
8,"Purgatory, Gem of Regret",3,"((8, Purgatory, Gem of Regret, 3.93), [3.93, 3...",$11.79
9,"Thorn, Conqueror of the Corrupted",4,"((9, Thorn, Conqueror of the Corrupted, 2.73),...",$10.92
10,Sleepwalker,4,"((10, Sleepwalker, 1.79), [1.79, 1.79, 1.79, 1...",$7.16
11,Brimstone,5,"((11, Brimstone, 3.65), [3.65, 3.65, 3.65, 3.6...",$18.25
12,Dawne,6,"((12, Dawne, 1.02), [1.02, 1.02, 1.02, 1.02, 1...",$6.12
13,Serenity,4,"((13, Serenity, 1.41), [1.41, 1.41, 1.41, 1.41])",$5.64
14,Possessed Core,2,"((14, Possessed Core, 2.61), [2.61, 2.61])",$5.22
15,Soul Infused Crystal,5,"((15, Soul Infused Crystal, 2.96), [2.96, 2.96...",$14.80
16,Restored Bauble,4,"((16, Restored Bauble, 3.55), [3.55, 3.55, 3.5...",$14.20
17,"Lazarus, Terror of the Earth",4,"((17, Lazarus, Terror of the Earth, 1.7), [1.7...",$6.80
18,"Torchlight, Bond of Storms",2,"((18, Torchlight, Bond of Storms, 4.65), [4.65...",$9.30
19,"Pursuit, Cudgel of Necromancy",8,"((19, Pursuit, Cudgel of Necromancy, 1.02), [1...",$8.16
20,Netherbane,5,"((20, Netherbane, 3.27), [3.27, 3.27, 3.27, 3....",$16.35
21,Souleater,5,"((21, Souleater, 1.1), [1.1, 1.1, 1.1, 1.1, 1.1])",$5.50
22,Amnesia,6,"((22, Amnesia, 2.18), [2.18, 2.18, 2.18, 2.18,...",$13.08
23,Crucifer,1,"((23, Crucifer, 1.99), [1.99])",$1.99
24,Warped Fetish,5,"((24, Warped Fetish, 3.81), [3.81, 3.81, 3.81,...",$19.05
25,Hero Cane,6,"((25, Hero Cane, 4.35), [4.35, 4.35, 4.35, 4.3...",$26.10
26,Unholy Wand,2,"((26, Unholy Wand, 1.12), [1.12, 1.12])",$2.24
27,"Riddle, Tribute of Ended Dreams",1,"((27, Riddle, Tribute of Ended Dreams, 3.3), [...",$3.30
28,"Flux, Destroyer of Due Diligence",2,"((28, Flux, Destroyer of Due Diligence, 1.06),...",$2.12
29,"Chaos, Ender of the End",5,"((29, Chaos, Ender of the End, 1.98), [1.98, 1...",$9.90
...,...,...,...,...
154,Feral Katana,4,"((154, Feral Katana, 4.4), [4.4, 4.4, 4.4, 4.4])",$17.60
155,War-Forged Gold Deflector,5,"((155, War-Forged Gold Deflector, 1.01), [1.01...",$5.05
156,Soul-Forged Steel Shortsword,5,"((156, Soul-Forged Steel Shortsword, 1.77), [1...",$8.85
157,"Spada, Etcher of Hatred",4,"((157, Spada, Etcher of Hatred, 4.8), [4.8, 4....",$19.20
158,"Darkheart, Butcher of the Champion",2,"((158, Darkheart, Butcher of the Champion, 2.4...",$4.90
159,"Oathbreaker, Spellblade of Trials",7,"((159, Oathbreaker, Spellblade of Trials, 3.08...",$21.56
160,Azurewrath,6,"((160, Azurewrath, 4.4), [4.4, 4.4, 4.4, 4.4, ...",$26.40
161,Devine,5,"((161, Devine, 1.76), [1.76, 1.76, 1.76, 1.76,...",$8.80
162,Abyssal Shard,5,"((162, Abyssal Shard, 2.67), [2.67, 2.67, 2.67...",$13.35
163,Thunderfury Scimitar,5,"((163, Thunderfury Scimitar, 3.45), [3.45, 3.4...",$17.25
164,Exiled Doomblade,7,"((164, Exiled Doomblade, 1.63), [1.63, 1.63, 1...",$11.41
165,Bone Crushing Silver Skewer,4,"((165, Bone Crushing Silver Skewer, 4.86), [4....",$19.44
166,Thirsty Iron Reaver,3,"((166, Thirsty Iron Reaver, 3.07), [3.07, 3.07...",$9.21
167,"Malice, Legacy of the Queen",4,"((167, Malice, Legacy of the Queen, 3.61), [3....",$14.44
168,"Sun Strike, Jaws of Twisted Visions",2,"((168, Sun Strike, Jaws of Twisted Visions, 1....",$2.96
169,"Interrogator, Blood Blade of the Queen",4,"((169, Interrogator, Blood Blade of the Queen,...",$8.72
170,Shadowsteel,4,"((170, Shadowsteel, 3.97), [3.97, 3.97, 3.97, ...",$15.88
171,Scalpel,3,"((171, Scalpel, 1.79), [1.79, 1.79, 1.79])",$5.37
172,Blade of the Grave,4,"((172, Blade of the Grave, 3.14), [3.14, 3.14,...",$12.56
173,Stormfury Longsword,2,"((173, Stormfury Longsword, 4.93), [4.93, 4.93])",$9.86
174,Primitive Blade,4,"((174, Primitive Blade, 3.47), [3.47, 3.47, 3....",$13.88
175,Woeful Adamantite Claymore,3,"((175, Woeful Adamantite Claymore, 4.48), [4.4...",$13.44
176,Relentless Iron Skewer,2,"((176, Relentless Iron Skewer, 2.84), [2.84, 2...",$5.68
177,"Winterthorn, Defender of Shifting Worlds",2,"((177, Winterthorn, Defender of Shifting World...",$4.16
178,"Oathbreaker, Last Hope of the Breaking Storm",12,"((178, Oathbreaker, Last Hope of the Breaking ...",$50.76
179,"Wolf, Promise of the Moonwalker",6,"((179, Wolf, Promise of the Moonwalker, 4.48),...",$26.88
180,Stormcaller,1,"((180, Stormcaller, 3.36), [3.36])",$3.36
181,Reaper's Toll,5,"((181, Reaper's Toll, 1.66), [1.66, 1.66, 1.66...",$8.30
182,Toothpick,3,"((182, Toothpick, 4.03), [4.03, 4.03, 4.03])",$12.09
183,Dragon's Greatsword,3,"((183, Dragon's Greatsword, 1.09), [1.09, 1.09...",$3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame